*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color: rgb(66, 66, 66);
}

header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 20px;
    justify-content: center;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    
}

.title-name{
    font-size: 50px;
    animation: float 3s ease infinite;
}

.title{
    position: center;
    color: green;
    text-shadow: 0px 5px 10px black;
    
}

@keyframes float{
    0%, 100% {
        transform: translate(0);
    }
    50%{
        transform: translateY(-10px);
    }
}


.information{
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    align-content: center;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.itens{
    margin: 2%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
}

li.photo{
    width: 250px;
    background-color: transparent;
}

li.name-box{
    font-size: 40px;
}

.projects-box{
    position: relative;
    padding: 15px;
    max-width: 80%;
    margin: 0 auto;
}

.projects-wrapper{
    overflow-x: auto;
}

.projects{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left,
.arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover{
    opacity: 1;
}

.arrow-right:hover{
    opacity: 1;
}

.item-carrosel{
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item{
    opacity: 1;
}


.projects-wrapper::-webkit-scrollbar{
    display: none;
}

.projects-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}