
a{
    text-decoration: none;
}

footer{
    padding: 7%;
    background-color: #F2D4AE;
    margin-top: 5%;
    border-top: 2px solid rgb(0, 77, 128);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button-curriculum button{
   position: relative;
   transform: translateX(10px);
    padding: 3em;
    width: 30em;
    height: 2em;
    background-color: #03A61C;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}
.name-dawnload{
    border-radius: 3em;
    padding: 2em;
    display: flex;
    
}

.button-curriculum button p{
    font-weight: bold;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.curriculum-dawnload{
    border-radius: 100%; 
    padding: 1em;
    width: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    color: whitesmoke;
}


@media (max-width: 1220px){
 footer{
        flex-direction: column;
    }
}

@media (max-width: 760px){
    .contacts ul img{
        width: 4rem;
        margin: 1rem 2rem;
    }
   
    .contacts ul img{
        width: 1em;
        margin: 1em 2em;
    }

    .name-dawnload{
        padding: 1.5em;  
    }
    .button-curriculum button{
        padding: 2em;
        width: 24em;
        height: 5em;
    }
    .button-curriculum button p{
        font-size: 1em;
    }
        
    .curriculum-dawnload{
        padding: 1em;
    }
    .curriculum-dawnload p{
        font-size: 0.5em;
    }


    .curriculum-dawnload img{
        width: 2em;
    }

    .box-division{
        font-size: 2em;
    }
}

@media (max-width: 400px){
   
    .contacts ul img{
        width: 1em;
        margin: 1em 2em;
    }

    .name-dawnload{
        padding: 2.5em;  
    }

    .button-curriculum button{
        padding: 3.5em;
        height: 6em;
    }
    .button-curriculum button p{
        font-size: 0.5em;
    }

    .box-division{
        font-size: 2em;
    }
}