
.item-carrosel {
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

.projects-wrapper::-webkit-scrollbar {
    display: none;
}

.projects-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-img {
    width: 450px;
    height:450px;
    border-radius: 10px;
    margin: 15px 10px;
    box-shadow: 5px 5px 10px black;
}

.projects li {
    flex-direction: column;
    width: 800px;
    height: 800px;
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.projects a {
    margin-top: 10px;
    padding: 5px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
}
.projects a p{
    font-size: 2rem;
}

.projects h2{
    font-size: 3rem;
    margin: 1rem 0;
}

.projects a img {
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
}

.project-info{
    color: whitesmoke;
    margin: 2rem;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .projects-box button img {
        max-width: 30px;
    }

    .arrow-left,
    .arrow-right {
        width: 1.5em;
    }

    .arrow-right {
        right: -40px;
    }

    .arrow-left {
        left: -40px;
    }
}

@media (max-width: 400px) {
    .projects-box button img {
        max-width: 25px;
    }

    .arrow-left,
    .arrow-right {
        width: 1em;
    }

    .arrow-right {
        right: -45px;
    }

    .arrow-left {
        left: -45px;
    }
}
