dialog{
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    max-width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #e84f4b;
    background-color: rgb(66, 66, 66);
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.788);
}

.projects button{
    padding: 1em;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #e84f4b;
    margin-top: 2px;
}