.box-input{
    background-color: rgba(0, 0, 0, 0.788);
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 3em;
    border-radius: 10px;
    border: 2px solid rgb(255,193,7);

}
.box-input p{
    color: whitesmoke;
    font-size: 2em;
}
.box-input ul{
    display: flex;
    justify-content: space-between;
    padding: 5em;
}
