.skills{
    margin: 0;
    padding: 10em;
}


.skills ul{
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid rgb(0, 77, 128);
    cursor: pointer;
    transition: .35s;
}

.skills ul:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

.skills li{
    padding: 10px;

}
.skills img{
    width: 96px;
}


@media (max-width: 768px){
    .skills img{
        width: 50px;
    }
    .skills{
        margin: 0;
        padding: 8em;
    
    }

}

@media (max-width: 430px){
    .skills img{
        width: 2em;
    }

    .skills{
        margin: 0;
        padding: 0.5em;
    }
}