
  .skills-itens{
    min-width: 100%; 
    animation: slide 10s infinite linear;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-300%); 
    }
  }

.skills ul{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: .35s;
}

.skills li{
    padding: 10px;

}
.skills img{
    width: 96px;
}


@media (max-width: 768px){
    .skills img{
        width: 50px;
    }
    .skills{
        margin: 0;
        padding: 8em;
    
    }

}

@media (max-width: 430px){
    .skills img{
        width: 2em;
    }

    .skills{
        margin: 0;
        padding: 0.5em;
    }
}