*{
    list-style: none;
    margin: 0;
}

header{
    display: flex;
    color: white;
    padding: 0.5em;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body{
    background-color:#2d4e8d;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000b0d;
    padding: 0.9em 2em;
    border-radius: 50px;
    height: 0.3em;
    width: 2em;
    top:2px;
    position: absolute;
    box-shadow: 2px 2px 10px black;
}
.nav-buttons li{
    margin: 0 0.1em;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.nav-buttons button{
    border-radius: 50%;
    background-color:#878df2;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    align-items: center;
    justify-content: center;
}

.nav-buttons button img{
    width: 0.8em;
    height: 1.1em;
}